<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>  
	        		<li><a href="/" style="color:black; font-size:70%; display:inline-block;"  >Joseph Shaw</a></li>
				<li><a href="/work/" style="font-size:70%; display:inline-block;">Work</a></li>
		<!--		
				<li><a href="/cv/">CV</a></li>
		-->		
				<li><a href="/dataviz/" style="font-size:70%;">Data Viz</a></li>
		<!--		
				<li><a href="/photos/">Photos</a></li>			
		-->
				<li><a href="/contact/" style="font-size:70%;">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		
				</ul>
			</footer>
		</body>
	</html>
